<div class='container'> <!-- Classe HTML para fixar no centro o conteúdo principal da classe --> 
  <div class='row main'> <!-- Classe HTML para criar uma linha no grid -->
    <div class='col-lg-3 offset-lg-1 col-md-10 offset-md-1 exchange_box'> <!-- Classe HTML para criar colunas. col-lg-3 Tela cheia, terá 3 pedaços.
    offset-lg-1 começando no 2 e terminando no 4... Quando a tela for menor, irá ocupar 10 pedaços de 12! -->
      <div class='row'>
          <div class='col-md-8 offset-md-2 text-sm-center'> <!-- text-sm-center para centralizar o texto do conteúdo -->
            <%= image_tag '/logo.png', class: 'img-fluid' %> <!-- Helper rails. Carrega o logo e deixa a página responsiva -->
          </div>
      </div>

      <div class='row'>
        <%= render "shared/exchange_box" %>
      </div>
    </div>

    <div class='col-lg-7 offset-lg-1 hidden-sm-down title-box'>
      <div class='row'>
        <h2 class='subtitle'>Converta facilmente suas Moedas</h2>
      </div>
                
      <div class='row'>
        <h3 class='subtitle'>Para qualquer moeda no Mundo!</h3>
      </div>
    </div>
  </div>
</div>